/* Header styles */
/* header.header {
    background-color: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
  } */
   /* Navigation links (if any) */
   /* nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
   */