@import url('./header.css');
@import url('./footer.css');
@import url('./home.css');
@import url('./navbar.css');
@import url('./subscribe.css');
@import url('./sectionResults.css');
@import url('./sectionDifference.css');

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  /* Main content area */
  main#main-content {
    flex: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start
  }
  
  /* Optional utility classes */
  .container {
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
